.main-header{
    padding: 1rem 2rem;
    position: relative;
}

.columns {
    padding: 1rem;
    margin: 0 !important;
}

.column-icon{
    svg {
        font-size: 2rem;
        color: crimson;
    }
}

.logo{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}